<% if @user.errors.any? %>
  <div id="error_explnation">
    <div class="alert alert-danger">
      Oops. It appears you have errors.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
