<h1>Our story</h1>
<p>Here at Simtek we have one mission. To provide companies with the ability to simulate their next great idea before
they launch it into production.</p>
<p>We started as a small startup in Columbus, Ohio that quickly expanded with contracts from companies and agencies like
Boeing and the Department of Defense.</p>
<p>Currently, we employ 400 employees at our two locations in Charlotte and San Francisco.</p>
