<h1>Help</h1>
<p><strong>To Log in:</strong> Go to Homepage and press "Account Login"</p>
<p><strong>To Create an Account:</strong> Go to Homepage and press "Create Account"</p>
<p><strong>To Contact Us:</strong> Go to Contacts Tab</p>
