<h1>Simtek</h1>

<p>Providing you with the simulation tools that could help you change the world</p>

<div class="bc">
  <%= link_to "CREATE ACCOUNT", 
      create_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ACCOUNT LOGIN", 
      login_page_path, class: "btn btn-lg btn-primary" %>
</div>
