<div class="bc">
  <%= link_to "CREATE ACCOUNT", 
      create_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ACCOUNT LOGIN", 
      login_page_path, class: "btn btn-lg btn-primary" %>
</div>
