<h1>Software</h1>
<p>We provide 2 software packages for companies to choose from</p>
<h3>Online</h3>
<p>This option provides a quick and easy way to use our state of the art software</p>
<ul>
  <lh>This option includes:</lh>
  <li>Data stored on our secure servers</li>
  <li>Access to your simulations from any computer</li>
  <li>Continuous, free updates to the software</li>
  <li>24/7 online technical support</li>
  <li>Affordable monthly subscription plan</li>
</ul>
<h3>On Premises</h3>
<p>This option is for companies that want to store data and run the software on their own machines.</p>
<ul>
  <lh>This option includes:</lh>
  <li>Totally customizable settings to fit your companies needs</li>
  <li>Technician coming to your office to install software and provide training</li>
  <li>More powerful experience with more options than the online version</li>
  <li>Yearly software upgrades</li>
  <li>One time payment for lifetime access</li>
</ul>
