<!DOCTYPE html>
<html>
  <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h1>Hello <%= @user.name %></h1>
    <p>Your two factor authentication code is below. Please enter it the app</p>
    <p>Code: <%= @code %></p>
    <p>Have a nice day,</p>
    <p>Your friends at Simtek</p>
  </body>
</html>